@page "/DevPage/aboutme"

<MudPaper Elevation="0" Class="py-8 px-10">

    <MudText Class="pa-md-6 mx-lg-auto my-2">
        <center>
            <h2>About Me</h2>
        </center>
        
        <h3 class="my-2">Systems Developer</h3>  
        <p>
            Hello! My name is Rodrigo Sedrez, and I’m passionate about technology and programming. With a background in Computer Science, I recently transitioned to the world of mobile app development using .NET technology.
        </p>
           <br />
        <h3 >My Professional Journey</h3>
            
           
        <p class="my-2">
            <strong>Academic Background</strong>: I graduated in Computer Science from UNIFRAN, which provided me with a solid foundation in algorithms, data structures, and object-oriented programming.
        </p>
        <p class="my-2">
            <strong>Experience in .NET:</strong> Currently, I’m focused on mobile app development using the .NET platform. This versatile technology allows me to create robust and scalable solutions for iOS, Android, and Windows devices.
        </p>
        <p class="my-2">
            <strong>Intermediate English:</strong> In addition to technical skills, I have intermediate knowledge of English, enabling me to collaborate with international teams and access technical resources in English.
        </p><br/>

        <h3>My Work</h3>
        <p class="my-2">
            <strong>Agile Development: </strong>I believe in an agile approach to software development. This means constantly seeking continuous improvements, iterating rapidly, and delivering value to users.
        </p>
        <p class="my-2">
            <strong>Problem Solving:</strong>  I enjoy tackling challenges and finding creative solutions to complex problems. Whether optimizing code, enhancing the user experience, or implementing new features, I’m always eager to learn and grow.
        </p><br />

        <h3>My Projects</h3>
        
        <p class="my-2">
            <strong>Mobile App:</strong> I developed a mobile app for Android, going through the entire production, publishing, and update process.
        </p>
        <p class="my-2">
            <strong>Portfolio:</strong> My personal page showcases my work. You’ll find details about my projects, technical skills, and links to the apps I’ve developed under the “Projects” section.
        </p><br/>

        <h3>Contact</h3>
        <p class="my-2">
            If you’re interested in collaborating, exchanging ideas, or simply discussing technology, feel free to reach out to me via email: rmsedrez@gmail.com.
        </p>


        


    </MudText>
        <center>
        <MudImage Src="bannersSkills.png" Style="width:40%" />
        </center>
</MudPaper>




    



@code {

}